@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration 

<div class="container">
    <div class="row">
        <div class="col m6 s12">
            <h5>About This Site</h5>
            <p>
                This is Benedict Hazel's public API for use by 3rd parties in their own solutions.<br />
                Site Version @this.Configuration["Site:Version"]<br />
                <a href="http://info.bwhazel.uk/privacy-policy">Privacy Policy</a>
            </p>
        </div>
        <div class="col m3 s12">
            <h5>Other Sites</h5>
            <ul>
                <li><a href="http://bwhazel.co.uk">BWHazel Web Site</a></li>
                <li><a href="https://info.bwhazel.uk">BWHazel Info</a></li>
                <li><a href="http://4forces.bwhazel.uk">Four Forces</a></li>
                <li><a href="https://bwhantarctica.blogspot.com">Travel Blog</a></li>
            </ul>
        </div>
        <div class="col m3 s12">
            <h5>Technologies</h5>
            <ul>
                <li><a href="https://asp.net">ASP.NET</a></li>
                <li><a href="https://materializecss.com">MaterializeCSS</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container center">
        Copyright &copy; Benedict W. Hazel, 2009-@DateTime.Now.Year.  All views expressed are my own.
    </div>
</div>