@{
    this.ViewData["Title"] = "Welcome!";
}

<div class="section no-pad-bot">
    <div class="container">
        <h1>Welcome!</h1>
        <h4>The BWHazel API is a selection of APIs for third-parties to use in their own solutions.</h4>
        <p>
            API functionality ranges from the useful to down-right entertaining!  Select the Documentation
            link above to access an interactive service, powered by Swagger, for API endpoints and to try
            them out.
        </p>
    </div>
</div>